# features congruent and incongruent to increasing LGBT+ wellbeing

## references

- [ILGA](https://ilga.org/maps-sexual-orientation-laws)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import shijian
import seaborn as sns

%matplotlib inline
pd.set_option("display.max_columns", 100)
sns.set(context = "paper", font = "monospace")
shijian.setup_Jupyter()

In [5]:
ILGA_2016_06 = pd.read_excel("ILGA_legal_dataset_June_2016_for_public.xlsx")
ILGA_2016_06.head()

,Continent,Continent.1,Country,Legal,Age of consent,Unnamed: 5,Illegal,Unnamed: 7,Penalising text,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Promotion/Morality,Unnamed: 14,Ma.x Sentences (M)onths and (Y)ears,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,"Arrests, prosecutions, etc",Unnamed: 21,Unnamed: 22,NRHI - SO-inclusive?,Unnamed: 24,Unnamed: 25,Unnamed: 26,Discrimination protection,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Relationship recognition,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,All genders,Equal,Unequal,Male,Female,Sexual act,Sodomy,Against nature,Buggery,Indecency/other,Penal code,Sharia codes,1 M - 2 Y,3 Y - 7 Y,8 Y - 14 Y,15-Y - Life,Death,Yes,No,Unknown,Yes,No,Unclear,None,Employ-ment,Const-itution,Other,Hate Crime,Incite-menrt,Marriage,Civil recognition,Minimal CP,Joint adoption,2nd parent adoption
1,NaN,NaN,Algeria,NaN,NaN,NaN,Algeria,Algeria,Algeria,NaN,NaN,NaN,NaN,NaN,Algeria,NaN,Algeria,NaN,NaN,NaN,NaN,Algeria,NaN,NaN,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AF,NaN,Angola,NaN,NaN,NaN,Angola,Angola,NaN,NaN,Angola,NaN,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,Angola,NaN,Angola,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AF,NaN,Benin,Benin,NaN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF,NaN,Botswana,NaN,NaN,NaN,Botswana,Botswana,NaN,NaN,Botswana,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,NaN,NaN,Botswana,NaN,Botswana,NaN,NaN,NaN,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ILGA_2017_05 = pd.read_excel("ILGA_sexual_orientation_legal_dataset_May_2017.xlsx")
ILGA_2017_05.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Values,NaN,NaN,NaN,NaN,NaN
1,Row Labels,Count of Protection,Count of Protection2,Count of Protection3,Count of Protection4,Count of Protection5,Count of Protection6
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,1,1,1,1,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN